@import './base.css';

/* Resetear estilos para Vuetify */
#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Estilos para enlaces si se usan fuera de Vuetify */
a.custom-link,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a.custom-link:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
